<?xml version="1.0"?>

<configuration>
	<appSettings>
    <add key="GoogleMapKey" value="ABQIAAAAQ35Hu3xqOoeD50UMgBW0cBQEt3eA6mol2Np5q6SKw0EDVXpM9hRExX__LZW3RbLXHuLKZlwC0oypOw" />
  </appSettings>  
	<connectionStrings>
		<add name="MSSQLConnectionString" connectionString="Database=GPSTracker;Server=localhost;uid=sa;pwd=mypassword;pooling=true;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
	<system.web>
		<compilation debug="true"/>
    <customErrors mode="Off"/>  
	</system.web>
</configuration>
