
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: arial, helvetica, sans-serif;
     font-size: 17px;
}
#test {
    position:absolute;
    left: 750px;
    top: 50px;
    width:400px;
}
#messages {
    position:absolute;
    left: 10px;
    top: 10px;
    width:950px;
}
#map {
    position:absolute;
    left: 10px;
    top: 40px;
    width:700px;
    height:450px;
    border:1px;
    border-style:solid;
    background-color:#FFF;
}
#selectRoute {
    position:absolute;
    left: 10px;
    top: 510px;
    width: 600px;
}
#selectRefresh {
    position:absolute;
    left: 10px;
    top: 550px;
    width: 250px;
}
#selectZoomLevel {
    position:absolute;
    left: 360px;
    top: 550px;
    width: 250px;
}
#delete {
    position:absolute;
    left: 637px;
    top: 510px;
    width: 75px;
}
#refresh {
    position:absolute;
    left: 637px;
    top: 550px;
    width: 75px;    
}

