<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- package attribute removed, namespace is defined in build.gradle -->

    <!-- Required Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- Required for background location access on Android 10 (API 29) and above -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <!-- Required for Foreground Service -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION"/>
    <!-- Required for Notification on Android 13+ -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <!-- Required for Wake Lock -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!-- Required for Network State -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- Add clear text traffic permission for testing -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:name=".GpsTrackerApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.AppTheme">

        <activity
            android:name=".TrackerSettingsActivity"
            android:exported="false" />

        <activity
            android:name=".GpsTrackerActivity"
            android:exported="false" />

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Declare the Foreground Service -->
        <service
            android:name=".service.TrackingService"
            android:foregroundServiceType="location" />

    </application>

</manifest>