<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="MSSQLConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=GPSTracker;Persist Security Info=True;User ID=sa;Password=gpstracker" />
  </connectionStrings>
    <system.web>
      <customErrors mode="Off" />
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
    <system.webServer>
        <caching>
            <profiles>
                <add extension=".cs" policy="DisableCache" kernelCachePolicy="DontCache" />
                <add extension=".aspx.cs" policy="DisableCache" kernelCachePolicy="DontCache" />
                <add extension=".aspx" policy="DisableCache" kernelCachePolicy="DontCache" />
            </profiles>
        </caching>
    </system.webServer>
</configuration>
